<div class="animate__animated animate__fadeIn row">
    <div class="col-md-10 mx-auto">
<div class="card">
    <div class="card-body">
        <h1>Acerca de</h1>
        <p>
            <em>Smart Parking</em> es un proyecto elaborado para la materia de Aplicaciones para Internet de las Cosas elaborado por: 
  
  
  
        </p>
         <p>Castellanos Berján Esli.<br>
       Negrete Borja Alejandro Ismael.<br>
       Serrano Ramos Joel Alejandro.</p>

    </div>
</div>
</div>
</div>